In [1]:
import pandas as pd  
import numpy as np

In [2]:
train_data = pd.DataFrame(pd.read_csv('cartype.csv'))

In [3]:
cols = train_data.shape[1]
rows = train_data.shape[0]
print("Rows:", rows)
print("Columns:", cols)

Rows: 7
Columns: 6

In [4]:
train_data.head()

  Origin Manufacturer  Color  Decade     Type Example Type
0  Japan        Honda   Blue    1980  Economy     Positive
1  Japan       Toyota  Green    1970   Sports     Negative
2  Japan       Toyota   Blue    1990  Economy     Positive
3    USA     Chrysler    Red    1980  Economy     Negative
4  Japan        Honda  White    1980  Economy     Positive

In [5]:
print("Training Data:\n", train_data)

Training Data:
   Origin Manufacturer  Color  Decade     Type Example Type
0  Japan        Honda   Blue    1980  Economy     Positive
1  Japan       Toyota  Green    1970   Sports     Negative
2  Japan       Toyota   Blue    1990  Economy     Positive
3    USA     Chrysler    Red    1980  Economy     Negative
4  Japan        Honda  White    1980  Economy     Positive
5  Japan       Toyota  Green    1980  Economy     Positive
6  Japan        Honda    Red    1990  Economy     Negative

In [6]:
concepts = np.array(train_data.iloc[:,:-1])
target = np.array(train_data.iloc[:,-1])
print("Concepts: \n", concepts)
print("Target: \n", target)

Concepts:
 [['Japan' 'Honda' 'Blue' 1980 'Economy']
 ['Japan' 'Toyota' 'Green' 1970 'Sports']
 ['Japan' 'Toyota' 'Blue' 1990 'Economy']
 ['USA' 'Chrysler' 'Red' 1980 'Economy']
 ['Japan' 'Honda' 'White' 1980 'Economy']
 ['Japan' 'Toyota' 'Green' 1980 'Economy']
 ['Japan' 'Honda' 'Red' 1990 'Economy']]
Target:
 ['Positive' 'Negative' 'Positive' 'Negative' 'Positive' 'Positive'
 'Negative']